@model Projeto1_IF.Models.TbPaciente

@{
    ViewData["Title"] = "Excluir paciente";
}

<h1>Excluir paciente</h1>

<h3>Confirma a exclusão deste paciente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            RG
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rg)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            CPF
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Data de nascimento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Nome do responsável
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeResponsavel)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Sexo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Etnia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etnia)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Endereço
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Bairro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Cidade
        </dt>
        <dd class = "col-sm-10">
            @Model?.IdCidadeNavigation?.Nome
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Telefone residencial
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelResidencial)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Telefone comercial
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelComercial)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Celular
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelCelular)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Profissão
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profissao)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            É atleta?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlgAtleta)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            É gestante?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlgGestante)
        </dd>
    </dl>
    @if (ViewData["ErrorMessage"] != null)
    {
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
    }
    <form asp-action="Delete" asp-route-idpaciente="@Model.IdPaciente" class="d-flex gap-2 align-items-center">
        <input type="hidden" asp-for="IdPaciente" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
