@model Projeto1_IF.Models.TbPaciente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbPaciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rg)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeResponsavel)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etnia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etnia)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            Cidade
        </dt>
        <dd class = "col-sm-10">
            @Model?.IdCidadeNavigation?.Nome
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelResidencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelResidencial)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelComercial)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelCelular)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profissao)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlgAtleta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlgAtleta)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlgGestante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlgGestante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPaciente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
