@model IEnumerable<Projeto1_IF.Models.TbPaciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h1>Pacientes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                RG
            </th>
            <th>
                CPF
            </th>
            <th>
                Data de nascimento
            </th>
            <th>
                Nome do responsável
            </th>
            <th>
                Sexo
            </th>
            <th>
                Etnia
            </th>
            <th>
                Endereço
            </th>
            <th>
                Bairro
            </th>
            <th>
                Cidade
            </th>
            <th>
                Telefone residencial
            </th>
            <th>
                Telefone comercial
            </th>
            <th>
                Celular
            </th>
            <th>
                Profissão
            </th>
            <th>
                É atleta?
            </th>
            <th>
                É gestante?
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => item.Rg)
            </td>
            <td>
                @Html.DisplayFor(model => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(model => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(model => item.NomeResponsavel)
            </td>
            <td>
                @Html.DisplayFor(model => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Etnia)
            </td>
            <td>
                @Html.DisplayFor(model => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(model => item.Bairro)
            </td>
            <td>
                @item.IdCidadeNavigation?.Nome
            </td>
            <td>
                @Html.DisplayFor(model => item.TelResidencial)
            </td>
            <td>
                @Html.DisplayFor(model => item.TelComercial)
            </td>
            <td>
                @Html.DisplayFor(model => item.TelCelular)
            </td>
            <td>
                @Html.DisplayFor(model => item.Profissao)
            </td>
            <td>
                @Html.DisplayFor(model => item.FlgAtleta)
            </td>
            <td>
                @Html.DisplayFor(model => item.FlgGestante)
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group">
                    <a asp-action="Edit" asp-route-idpaciente="@item.IdPaciente" class="btn btn-outline-primary">Editar</a>
                    <a asp-action="Details" asp-route-idpaciente="@item.IdPaciente" class="btn btn-outline-secondary">Detalhes</a>
                    <a asp-action="Delete" asp-route-idpaciente="@item.IdPaciente" class="btn btn-outline-danger">Excluir</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
