@model Projeto1_IF.Models.TbAlimento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbAlimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoQuantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoQuantidade)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carboidrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carboidrato)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VitaminaA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VitaminaA)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VitaminaB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VitaminaB)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TbReceitaAlimentarPadraoXAlimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TbReceitaAlimentarPadraoXAlimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAlimento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
